@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
  margin: 0;
  padding: 0;
 
}
body {
  background-color: #0a0908;
  font-family: 'Lora', serif;
  
 
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar {
  background-color: #02040f;
}
.navbar-nav li {
  padding: 0 10px;
  text-transform: uppercase;
}

.navbar-nav li a {
  float: left;
}
#nav-bar ul li a:hover {
  color: black;
  transition: 0.5s;
  height: fixed;
}

.navbar-toggler {
  border: 1px solid black;
}
.nav-link {
  font-weight: 600;
  font-size: 16px;
}
/*----------------------Common style Start-----*/
.experience .card, .services .card{
  background-color: transparent;
  transition: 0.5s;
}
.experience .card:hover, .services .card:hover{
  box-shadow: 0 2px 20px #9bf6ff;
}
.aboutme ul, .services .tools{
  color: white;
  text-decoration: none;
  font-style: none;
  list-style: none;
}
.aboutme ul li, .services .tools li{
  color: white;
  float: left;
  padding: 5px;
  margin-right: 8px;
  margin-bottom: 5px;
  border: 1px solid #9bf6ff;
  border-radius: 5px;
}
#nav-bar ul li a:hover, .middle .btn:hover, #bg, .services .btn{
  background-color:#9bf6ff;
}
#contact-icon:hover, .aboutme .hello span, .aboutme-pera a,.tech-skills .nav-item, .experience .card-subtitle, .services i,.services p{
  color:#9bf6ff;
}

/*----------------------Common style End-----*/


#menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(background1.jpg);
  background-size: cover;
  background-position: center;
  color: white !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#contact-icon {
  width: 16px;
  height: 16px;
}

#mail a, #phone a, #skype a{
  text-decoration: none;
  color:#fff;
}

.middle {
  width: 100%;
}
.middle .btn {
  color: white;
  width: 50px;
}

.middle .btn:hover {
  color:black;
}

/*--------------------About Me--------------------*/
.aboutme h2, .aboutme-pera{
  color: white;

}
.aboutme .hello{
  color: white;
  font-size: 16px;
  font-weight: 200;
}
.aboutme-pera a{
  text-decoration: none;
}
/*--------------------Service-------------------------*/
.services .card{
 background-color: #212529;
}

.services .roles{
  color: white;
  text-decoration: none;
  font-style: none;
  list-style: none;
}
.services p{
  font-size: 24px;
  font-weight: 50;
}
.services h3{
  color: white;
}
.services i{
  height: 30px;
  width: 30px;
}
.services a{
  float: center;
}

/*--------------------Skills--------------------*/
h1 {
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
  
}
h1::after {
  content: "";
  background: whitesmoke;
  display: block;
  height: 3px;
  width: 250px;
  margin: 20px auto 5px;
}
/*--------Technical Skills-------*/
.tech-skills{
  margin-top: 40px;
}
.tech-skills h3{
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
}

.tech-skills .nav-item{
  border: none;
}
.tech-skills .progress{
  background-color:#323031;
  height: 6px;
}
.tech-skills h6{
  color:white;
  margin-top: 20px;
}


/*--------Professional Skills-------*/
.prof-skills{
 padding-top: 20px;
 padding-bottom: 60px;
}
.prof-skills h3{
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
}

.prof-skills .round{
    padding-top: 20px;
    padding-left: 10px;
    min-height: 150px;
    position: relative;
    text-align: center;
    
}
.prof-skills .round strong{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    transform: translate(-30%,-100%);
    color: white;
    
}
.prof-skills span{
    display: block;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}

/*-------------------Experience---------------------------------------*/
.experience{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
  url(../img/b-2.jpg);
  background-size: cover;
  background-position: center;
  color: white !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

.experience .card-body{
  background-color: #03071e;
}
.experience .card-body a{
  text-decoration: none;
}
.experience .card li{
  margin:2px 0;
  line-height: 23px;
}

/*--------------------CERTIFICATE-------------------------*/
#Course{
  margin-top: 40px;
}
#Course h1 {
 
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
}
#Course h1::after {
  content: "";
  background: whitesmoke;
  display: block;
  height: 3px;
  width: 250px;
  margin: 20px auto 5px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Course-img {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}
.Course-img img {
  width: 100%;
  height: 350px;

  -webkit-transform: all 1.5s;
  -moz-transform: all 1.5s;
  -ms-transform: all 1.5s;
  -o-transform: all 1.5s;
  transform: all 1.5s;
}
.Course-details {
  position: absolute;
  bottom: 0px;
  padding: 00px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.Course-details h5 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
}
.Course-details h6 {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}

.Course-img:hover .Course-details {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.Course-img:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);

  transition: all 1.5s ease-out;
}

.footer{
  color: white;
}