@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
  margin: 0;
  padding: 0;
 
}
body {
  background-color: #0a0908;
  font-family: 'Lora', serif;
  
 
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.navbar {
  background-color: #02040f;
}
.navbar-nav li {
  padding: 0 10px;
  
}

.navbar-nav li a {
  float: left;
}
#nav-bar ul li a:hover {
  color: black;
  transition: 0.5s;
  height: fixed;
  border-radius: 50px 20px;
}

.navbar-toggler {
  border: 1px solid black;
}
.nav-link {
  font-weight: 600;
  font-size: 16px;
}
/*----------------------Common style Start-----*/
.services .card, .experience .card{
  background-color: transparent;
}
.services .card:hover,.experience .card:hover{
  box-shadow: 0 2px 20px #9bf6ff;
  transition: 0.5s;
}
.aboutme ul, .services .tools{
  color: white;
  text-decoration: none;
  font-style: none;
  list-style: none;
}
.aboutme ul li, .services .tools li{
  color: white;
  float: left;
  padding: 5px;
  margin-right: 8px;
  margin-bottom: 5px;
  border: 1px solid #9bf6ff;
  border-radius: 5px;
}
#nav-bar ul li a:hover, .middle .btn:hover, #bg, .services .btn, .tech-skills .nav-item:hover{
  background-color:#9bf6ff;
}
#contact-icon:hover, .aboutme .hello span, .aboutme-pera a, .experience .card-subtitle, .services i, .services p{
  color:#9bf6ff;
}

/*----------------------Common style End-----*/


#menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(background1.jpg);
  background-size: cover;
  background-position: center;
  color: white !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#contact-icon {
  width: 16px;
  height: 16px;
}

#mail a, #phone a, #skype a{
  text-decoration: none;
  color:#fff;
}

.middle {
  width: 100%;
}
.middle .btn {
  color: white;
  width: 50px;
  
}

.middle .btn:hover {
  color:black;
  border-radius: 50px 20px;
  transition: 0.5s;
}

/*--------------------About Me--------------------*/
.aboutme h2, .aboutme-pera{
  color: white;

}
.aboutme .hello{
  color: white;
  font-size: 16px;
  font-weight: 200;
}
.aboutme-pera a{
  text-decoration: none;
}
/*--------------------Service-------------------------*/
.services .card{
 background-color: #212529;
 border-radius: 60px 30px;
}
.services .card:hover{
  border-radius: 30px 60px;
}
.services .roles{
  color: white;
  text-decoration: none;
  font-style: none;
  list-style: none;
}
.services p{
  font-size: 24px;
  font-weight: 50;
}
.services h3{
  color: white;
}
.services i{
  height: 30px;
  width: 30px;
}
.services .btn{
  float: center;
  border-radius: 50px 20px;
}

/*--------------------Skills--------------------*/
h1 {
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
  
}
h1::after {
  content: "";
  background: whitesmoke;
  display: block;
  height: 3px;
  width: 250px;
  margin: 20px auto 5px;
}
/*--------Technical Skills-------*/
.tech-skills{
  margin-top: 40px;
}
.tech-skills h3{
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
}

.tech-skills .nav-item{
  border: none;
  color: white;
}
.tech-skills .nav-item:hover{
  color: black;
  transition: 0.5s;
  border-radius: 50px 20px;
}
.tech-skills .progress{
  background-color:#323031;
  height: 6px;
}
.tech-skills h6{
  color:white;
  margin-top: 20px;
}


/*--------Professional Skills-------*/
.prof-skills{
 padding-top: 20px;
 padding-bottom: 60px;
}
.prof-skills h3{
  text-align: center;
  color: white !important;
  padding-bottom: 10px;
  padding-top: 20px;
}

.prof-skills .round{
    padding-top: 20px;
    padding-left: 10px;
    min-height: 150px;
    position: relative;
    text-align: center;
    
}
.prof-skills .round strong{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    transform: translate(-30%,-100%);
    color: white;
    
}
.prof-skills span{
    display: block;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
}

/*-------------------Experience---------------------------------------*/
.experience{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
  url(../img/b-2.jpg);
  background-size: cover;
  background-position: center;
  color: white !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}

.experience .card-body{
  background-color: #03071e;
}
.experience .card-body a{
  text-decoration: none;
}
.experience .card li{
  margin:2px 0;
  line-height: 23px;
}
/*--------------portfolio-----------------*/
.project-area button{
  color : white;
  border: none;  
}
.project-area .btn{
  border-radius: 50px 20px;
}
.project-area .btn:hover{
  background: #9bf6ff;
  color:black;
  transition: 0.5s;
  border: none;
  border-radius: 50px 20px;
}
.our-project img{
  border-radius: 10px 10px;
}
/*------------Interested to work-----------------*/
.work{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
  url(../img/b-3.jpg);
  background-size: cover;
  background-position: center;
  color: white !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
.work .headline{
  font-weight: bold;
}
.work .btn{
  border-radius: 60px 30px;
  background-color:#9bf6ff;
}
.work .btn:hover{
  border-radius: 30px 60px;
  transition: 0.5s;
}

/*-----------Contact us-------------------------*/
.contact-us{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
  url(../img/b-4.jpg);
  background-size: cover;
  background-position: center;
  color: white !important;
  background-attachment: absolute;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*--------------footer-----------------*/
.footer{
  color: white;
}